# Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: wso2am-pattern-3-am-tm-1-deployment
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.wso2.deployment.am.tm.replicas }}
  minReadySeconds: {{ .Values.wso2.deployment.am.minReadySeconds }}
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      deployment: wso2am-pattern-3-tm
      node: wso2am-pattern-3-tm-1
  template:
    metadata:
      labels:
        deployment: wso2am-pattern-3-tm
        node: wso2am-pattern-3-tm-1
    spec:
      containers:
      - name: wso2am-pattern-3-am-tm-1
        {{- if .Values.wso2.deployment.am.dockerRegistry }}
        image: {{ .Values.wso2.deployment.am.dockerRegistry }}/{{ .Values.wso2.deployment.am.imageName }}
        {{- $tag := .Values.wso2.deployment.am.imageTag }}
        {{- if not (eq $tag "") }}{{- printf ":%s" $tag -}}{{- end }}
        {{- else if or (eq .Values.wso2.subscription.username "") (eq .Values.wso2.subscription.password "") }}
        image: wso2/{{ .Values.wso2.deployment.am.imageName }}:{{ .Values.wso2.deployment.am.imageTag }}
        {{- else }}
        image: docker.wso2.com/{{ .Values.wso2.deployment.am.imageName }}:{{ .Values.wso2.deployment.am.imageTag }}
        {{- end }}
        livenessProbe:
          exec:
            command:
              - /bin/sh
              - -c
              - nc -z localhost 9611
          initialDelaySeconds: {{ .Values.wso2.deployment.am.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.wso2.deployment.am.livenessProbe.periodSeconds }}
        readinessProbe:
          exec:
            command:
              - /bin/sh
              - -c
              - nc -z localhost 9611
          initialDelaySeconds: {{ .Values.wso2.deployment.am.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.wso2.deployment.am.readinessProbe.periodSeconds }}
        env:
          - name: HOST_NAME
            value: "{{ .Release.Name }}-tm"
          - name: PROFILE_NAME
            value: "traffic-manager"
          - name: NODE_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
        lifecycle:
          preStop:
            exec:
              command:  ['sh', '-c', '${WSO2_SERVER_HOME}/bin/wso2server.sh stop']
        resources:
          requests:
            memory: {{ .Values.wso2.deployment.am.resources.requests.memory }}
            cpu: {{ .Values.wso2.deployment.am.resources.requests.cpu }}
          limits:
            memory: {{ .Values.wso2.deployment.am.resources.limits.memory }}
            cpu: {{ .Values.wso2.deployment.am.resources.limits.cpu }}
        imagePullPolicy: {{ .Values.wso2.deployment.am.imagePullPolicy }}
        securityContext:
          runAsUser: 802
        ports:
          - containerPort: 9611
            protocol: TCP
          - containerPort: 9711
            protocol: TCP
          - containerPort: 5672
            protocol: TCP
        volumeMounts:
        - name: wso2am-pattern-3-am-tm-shared-storage-volume
          mountPath: /home/wso2carbon/wso2am-3.1.0/repository/deployment/server/executionplans
        - name: wso2am-pattern-3-am-tm-1-conf
          mountPath: /home/wso2carbon/wso2-config-volume/repository/conf/deployment.toml
          subPath: deployment.toml
      serviceAccountName: {{ .Values.kubernetes.serviceAccount }}
      {{- if .Values.wso2.deployment.am.imagePullSecrets }}
      imagePullSecrets:
        - name: {{ .Values.wso2.deployment.am.imagePullSecrets }}
      {{- else if and (not (eq .Values.wso2.subscription.username "")) (not (eq .Values.wso2.subscription.password "")) }}
      imagePullSecrets:
        - name: wso2am-pattern-3-wso2-private-registry-creds
      {{ end }}
      volumes:
      - name: wso2am-pattern-3-am-tm-shared-storage-volume
        persistentVolumeClaim:
          claimName: wso2am-pattern-3-am-tm-shared-executionplans-volume-claim
      - name: wso2am-pattern-3-am-tm-1-conf
        configMap:
          name: wso2am-pattern-3-am-tm-1-conf
