# Copyright (c) 2019, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: wso2apim-with-analytics-apim-2
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
      deployment: wso2apim-with-analytics-apim
      node: wso2apim-with-analytics-apim-2
  template:
    metadata:
      labels:
        deployment: wso2apim-with-analytics-apim
        node: wso2apim-with-analytics-apim-2
    spec:
      containers:
      - name: wso2apim-with-analytics-apim
        image: wso2/wso2am:2.6.0
        livenessProbe:
          exec:
            command:
              - /bin/sh
              - -c
              - nc -z localhost 9443
          initialDelaySeconds: 240
          failureThreshold: 3
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
              - /bin/sh
              - -c
              - nc -z localhost 9443
          initialDelaySeconds: 240
          failureThreshold: 3
          periodSeconds: 10
        lifecycle:
          preStop:
            exec:
              command:  ['sh', '-c', '${WSO2_SERVER_HOME}/bin/wso2server.sh stop']
        resources:
          requests:
            memory: 2Gi
            cpu: 2000m
          limits:
            memory: 3Gi
            cpu: 3000m
        imagePullPolicy: Always
        ports:
        -
          containerPort: 8280
          protocol: "TCP"
        -
          containerPort: 8243
          protocol: "TCP"
        -
          containerPort: 9763
          protocol: "TCP"
        -
          containerPort: 9443
          protocol: "TCP"
        volumeMounts:
        - name: apim-storage-volume
          mountPath: /home/wso2carbon/wso2am-2.6.0/repository/deployment/server/synapse-configs/default
        - name: apim-2-conf
          mountPath: /home/wso2carbon/wso2-config-volume/repository/conf
        - name: apim-2-conf-datasources
          mountPath: /home/wso2carbon/wso2-config-volume/repository/conf/datasources
      serviceAccountName: "wso2svc-account"
      volumes:
      - name: apim-storage-volume
        persistentVolumeClaim:
          claimName: wso2apim-with-analytics-apim-deployment-volume-claim
      - name: apim-2-conf
        configMap:
          name: apim-2-conf
      - name: apim-2-conf-datasources
        configMap:
          name: apim-2-conf-datasources
